.container{
    background: linear-gradient(lightBlue, whiteSmoke );
    display: flex;
    width: auto;
    height: auto;
    margin: 20px 20px 20px 20px ;
    justify-content: center;
    
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}
button:hover{
    background-color: lightgreen;
    color:  blue;
}

.displayer{
    background: linear-gradient(lime, green);
    width: auto;
    height: auto;
    text-align: center;

}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px 50px 50px 50px;
    width: 100px;
    height: 110px;
    position: relative;
    margin-left: 180px;

}

